{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome {{ user.username }}</h3>

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Homework
            </h5>
            Add homeworks and assign them deadlines. They will be displayed prioritised by deadlines
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Search Youtube and select your desired video to play it on youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Add your to-do lists for your day and remove them as you finish
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <d class="row">
    <div class="col-md-3 ">
      <a href="{% url 'books' %}">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Books
            </h5>
            Browse books from a list of neatly organised book menu
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="{% url 'dictionary' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Dictionary
            </h5>
            A vocabulary from a book is troubling you? No problem, enter the word, and the meaning will be displayed
            almost instantaneously.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'wiki' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              WikiPedia
            </h5>
            Homework and Assignments? Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'conversion' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Conversion
            </h5>
            Check out the conversion table, that helps you to convert measurements to more familiar ones of your choice.
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-3 mt-5">
      <a href="{% url 'chat' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/openai.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Open AI
            </h5>
            Using ChatBot you can solve many mathematical problems, you can find a lot of results which can help to find theoritical concepts as well
          </div>
        </div>
      </a>
    </div>

  <div class="col-md-3 mt-5">
    <a href="{% url 'cgpa_view' %}">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/cgpa.jpg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
            CGPA Calculator
          </h5>
          Using CGPA Calcutor you can calculate your CGPA
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 mt-5">
    <a href="{% url 'syllabus_routine_view' %}">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/routine.jpg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
              Syllabus & Routine
          </h5>
          Using Syllabus & Routine you can add two(Syllabus, Routine)pdf file also see those files
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 mt-5">
    <a href="{% url 'whiteboard' %}">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/whiteboard.jpg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
              Whiteboard
          </h5>
          Using Whiteboard you can draw and text for practices
        </div>
      </div>
    </a>
  </div>
  
  <div class="col-md-3 mt-5">
    <a href="{% url 'study_materials_list' %}">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/studymat.jpg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
              Study Materials
          </h5>
            Using Study Materials you can store your study materials, you can add pdf, doc file as well as html, css, c++, py etc
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 mt-5">
    <a href="{% url 'project_ideas_list' %}">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/projects.png' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
              Project Ideas
          </h5>
            Using Project Ideas you can store your Project ideas
        </div>
      </div>
    </a>
  </div>

</div>
  <br><br><br>

</section>
{% endblock content %}